{
  "name": "quien_quiere_ser_vendedor_super_pro",
  "version": "1.0.0",
  "main": "api.js",
  "type": "module",
  "scripts": {
    "test": "echo \"Error: no test specified\" && exit 1",
    "start": "node server.js"
  },
  "keywords": ["mercado-libre", "quiz-game", "vendedor-super-pro"],
  "author": "",
  "license": "ISC",
  "description": "Un juego de preguntas y respuestas estilo '¿Quién quiere ser millonario?' para vendedores de Mercado Libre",
  "dependencies": {
    "cors": "^2.8.5",
    "dotenv": "^16.4.7",
    "express": "^4.21.2",
    "node-fetch": "^3.3.2"
  }
}